<li class="list-group-item w-100 d-flex align-items-center justify-content-between m-3">
	<%= link_to "#{flashcard_counter+1}. #{flashcard.content}",
              article_flashcard_path(flashcard.article, flashcard) %>
	<%= link_to "Bearbeiten",
							edit_flashcard_path(flashcard),
							class: "btn btn-warning",
							style: "margin-left: auto;" %>
	<% if flashcard.article.draft? %>
		<p class="text-monospace text-wrap badge badge-secondary ml-2 mt-3">Artikel noch nicht veröffentlicht!</p>
	<% else %>
		<% if flashcard.draft? %>
			<%= link_to 'Quiz veröffentlichen',
									publish_article_flashcard_path(flashcard.article, flashcard),
									method: :post,
									class: "btn btn-success ml-2" %>
		<% else %>
			<%= link_to 'Quiz nicht veröffentlichen',
									unpublish_article_flashcard_path(flashcard.article, flashcard),
									method: :patch,
									class: "btn btn-danger ml-2" %>
		<% end %>
	<% end %>
	<%= link_to "Artikel",
              article_path(flashcard.article),
              class: "btn btn-warning ml-2" %>
</li>