<h3 class="d-none d-lg-block">Ordne die Antworten</h3>
<h5 class="d-lg-none d-block">Ordne die Antworten</h5>
<div class="card-body">
  <h4><%= flashcard.content %></h4>

  <%= form_for answer_correct_order_article_flashcard_path(@article, @flashcard), url: {action: "answer_correct_order"}, method: :post, html: { id: "flashcardAnswerForm", "data-form-submitted": false } do |f| %>
    <ul class="answers" id="answers-drag">
      <% @flashcard.answers.shuffle.each_with_index do |answer, idx| %>
          <li data-check=<%= @flashcard.correct_answers.index(answer.id) %>>
            <%= answer.content %>
            <!-- The hidden tag is used to determine the correct answer in the controller -->
            <%= hidden_field_tag "flashcard[answer][#{answer.id}]",
                                      answer.id
            %>
          </li>
      <% end %>
    </ul>

    <% if @exam && @exam.submitted %>
      <hr>
      <ul>
        <% @flashcard.correct_answers.each do |answer_id| %>
              <% db_answer = Answer.find(answer_id) %>
            <% if db_answer.explanation  %>
              <li><strong><%= db_answer.explanation %></strong></li>
            <% end %>

        <% end %>
      </ul>
    <% end %>

    <% if !@exam_flashcard %>
      <button type="button"
              class="flashcard-btn btn btn-primary"
              id="checkCorrectOrderBtn"
      >
        Prüfen
      </button>
    <% end %>
    <% if current_user.student? %>
      <%= f.submit "Nächste",
              class: "flashcard-btn btn btn-primary #{'d-none' unless @exam_flashcard && !@exam&.submitted}",
              id: "correctOrderSubmitBtn",
              "data-turbolinks": false %>
    <% end %>
  <% end %>
</div>
