<h3 class="d-none d-lg-block">Ordne die Antworten</h3>
<h5 class="d-lg-none d-block">Ordne die Antworten</h5>
<div class="card-body">
  <h4><%= flashcard.content %></h4>

  <%= form_for answer_correct_order_article_flashcard_path(@article, @flashcard), url: {action: "answer_correct_order"}, method: :post, html: { id: "flashcardAnswerForm", "data-form-submitted": false } do |f| %>
    <ul class="answers" id="answers-drag">
      <% @flashcard.answers.shuffle.each do |answer| %>
          <li class=
            <% if action_name == "answer_correct_order"%>
              <%= @is_answer_correct ? "correct-answer" : "false-answer"  %>
            <% end %>
          >
            <%= answer.content %>
            <%= hidden_field_tag "flashcard[answer][#{answer.id}]",
                                  answer.id
            %>
          </li>
      <% end %>
    </ul>

    <% if @exam && @exam.submitted %>
      <hr>
      <ul>
        <% @flashcard.correct_answers.each do |answer_id| %>
              <% db_answer = Answer.find(answer_id) %>
            <% if db_answer.explanation  %>
              <li><strong><%= db_answer.explanation %></strong></li>
            <% end %>

        <% end %>
      </ul>
    <% end %>

    <% if !@exam_flashcard || (@exam && !@exam.submitted) %>
      <%= f.submit "Prüfen",
                  class: "flashcard-btn btn btn-primary", :"data-turbolinks" => false if action_name == "show" %>
    <% end %>
    <%= link_to "Nächste",
                next_flashcard_article_flashcard_path(@article, @flashcard), id: "nextFlashcard",
                class: "flashcard-btn btn btn-primary", :"data-turbolinks" => false if action_name == "answer_correct_order" %>
  <% end %>
</div>
