<h2>Order</h2><div class="card-body">
  <h4><%= flashcard.content %></h4>

  <%= image_tag flashcard.image if flashcard.image.attached? %>

  <%= form_for answer_correct_order_article_flashcard_path(@article, @flashcard), url: {action: "answer_correct_order"}, method: :post, html: { id: "flashcardAnswerForm", "data-form-submitted": false } do |f| %>
    <ul class="answers" id="answers-drag">
      <% @flashcard.answers.sort.each do |answer| %>
          <li class=
            <% if action_name == "answer_correct_order"%>
              <%= @user_answer ? "correct-answer" : "false-answer"  %>
            <% end %>
          >
            <%= answer.id %> - <%= answer.content %>
            <%= hidden_field_tag "flashcard[answer][#{answer.id}]",
                                  answer.id
            %>
            <%# <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
          </li>
      <% end %>
    </ul>
  <%= f.submit "Check",
                class: "flashcard-btn btn btn-primary" if action_name == "show" %>
  <%= link_to "Next",
              next_flashcard_article_flashcard_path(@article, @flashcard), id: "nextFlashcard",
              class: "flashcard-btn btn btn-primary" if action_name == "answer_correct_order" %>
<% end %>

  <hr>
    <p>correct answers</p>
    <p><%= flashcard.correct_answers %></p>
</div>
