<div class="card-body">
  <h4><%= flashcard.content %></h4>


  <%= form_for answer_article_flashcard_path(@article, @flashcard), url: {action: "answer"}, method: :post, html: { id: "flashcardAnswerForm", "data-form-submitted": false } do |f| %>
    <% @flashcard.answers.each do |answer| %>
      <div class="flashcard-answer">

        <!-- check the url if contains answer -->

        <label class=<%= "correct-answer" if current_page?(action: "show") && @flashcard.correct_answers.include?(answer.id)  %>>
          <%= check_box_tag "flashcard[answer][]", answer.id, false, id: answer.id %>
            <%= answer.content %>
        </label>
      </div>
  <% end %>
  <%= f.submit "Next", class: "flashcard-btn btn btn-primary" %>
  <!--<button id="showResultBtn" class="flashcard-btn btn btn-primary">Check</button>-->
  <%= link_to "next flashcard", next_flashcard_article_flashcard_path(@article, @flashcard) %>
<% end %>

  <hr>
    <p>correct answers</p>
    <% @flashcard.correct_answers.each do |correct_answer| %>
      <%= correct_answer %>
    <% end %>
</div>
