<div class="card-body">
  <h4><%= flashcard.content %></h4>


  <%= form_for answer_article_flashcard_path(@article, @flashcard), url: {action: "answer"}, method: :post, html: { id: "flashcardAnswerForm", "data-form-submitted": false } do |f| %>
    <% @flashcard.answers.each do |answer| %>
      <div class="flashcard-answer">
        <label
          class=
          <%= "correct-answer" if action_name == "answer" && @flashcard.correct_answers.include?(answer.id)  %>
          <%= "false-answer" if action_name == "answer" &&
          @answers &.include?(answer.id) %>
        >
          <%= check_box_tag "flashcard[answer_ids][]",
                            answer.id, false,
                            # id: answer.id,
                            id: dom_id(answer),
                            disabled: action_name == "answer" %>
            <%= answer.content %>
        </label>
      </div>
  <% end %>
  <%= f.submit "Check",
                class: "flashcard-btn btn btn-primary" if action_name == "show" %>
  <%= link_to "Next",
              next_flashcard_article_flashcard_path(@article, @flashcard), id: "nextFlashcard",
              class: "flashcard-btn btn btn-primary" if action_name == "answer" %>
<% end %>

  <hr>
    <p>correct answers</p>
    <% @flashcard.correct_answers.each do |correct_answer| %>
      <p>- <%= Answer.find(correct_answer).content %></p>
    <% end %>
</div>
