<% if @flashcard.errors.any? %>
  <ul>
    <% @flashcard.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @flashcard, local: true  do |flashcard_form| %>
  <div class="form-group">
    <%= flashcard_form.label :content, "Question" %>
    <%= flashcard_form.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= flashcard_form.label "Article" %>
    <%= flashcard_form.select "article",
          options_for_select(
            @articles.map { |article| [article.title, article.id]},
            @flashcard.article ? @flashcard.article.id : false
          ) %>
  </div>

  <div class="form-group">
    <% flashcard_types = Flashcard::FLASHCARD_TYPES.map { |type| [type, type] } %>
    <%= flashcard_form.label  :flashcard_type %>
    <%= flashcard_form.select :flashcard_type,
      options_for_select(
        flashcard_types,
        @flashcard.flashcard_type ? @flashcard.flashcard_type: false
      ) %>
  </div>

  <h2>Answers</h2>
  <div class="answers" id="uniqAnswers">
    <%= link_to_add_association 'New answer',
                                flashcard_form, :answers,
                                class: 'btn btn-success my-2',
                                data: {
                                  association_insert_node: '#uniqAnswers', association_insertion_method: :append
                                } %>

    <%= flashcard_form.fields_for :answers do |builder| %>
      <%= render 'answer_fields', f: builder %>
    <% end %>
  </div>

  <div class="form-group mt-5">
    <%= flashcard_form.file_field :image %>
  </div>

<!-- Display posibility to choose the correct answers if needed -->
  <% if @flashcard.persisted? %>

    <% if @flashcard.flashcard_type != "match_answers" %>
      <h3>Correct answers</h3>
    <% end %>

    <% @flashcard.answers.each do |answer| %>
      <% case @flashcard.flashcard_type %>
        <% when 'multiple_choice' %>
          <%= render 'correct_answers_multiple_choice', answer: answer %>
        <% when 'correct_order' %>
          <%= render 'correct_answers_order', answer: answer, flashcard: flashcard %>
      <% end %>
    <% end %>
  <% end %>

  <div class="form-actions mt-5">
    <%= flashcard_form.submit class: "btn btn-primary" %>
  </div>
<% end %>
