<div class="col-12">
  <h4>Ordne die Antworten zu</h4>
</div>
<div class="card-body">
  <div class="col-12">
    <h5><%= flashcard.content %></h5>
  </div>
  <div class="row">
    <!-- The fixed answers -->
    <div class="col-6">
      <ul class="fixed-answers d-flex justify-content-between h-100" id="fixed-answers">
        <% @static_answers.each do |answer| %>
            <li class=
              <% if action_name == "answer_correct_order"%>
                <%= @is_answer_correct ? "correct-answer" : "false-answer"  %>
              <% end %>
            >
              <%= answer.content %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="col-6">
      <%= form_for answer_correct_order_article_flashcard_path(@article, @flashcard), url: {action: "answer_correct_order"}, method: :post, html: { id: "flashcardAnswerForm", class: "h-100", "data-form-submitted": false } do |f| %>

        <!-- The answers to drag, and actually check if correct -->
        <ul class="answers d-flex justify-content-between h-100" id="answers-drag">
          <% @dragabble_answers.shuffle.each_with_index do |answer, index| %>
              <li class=
              <%# raise %>
                <% if action_name == "answer_correct_order"%>
                  <%= @is_answer_correct ? "correct-answer" : "false-answer"  %>
                <% end %>
              >
                <%= answer.content %>
                <% if action_name == "answer_correct_order"%>
                  <strong>
                    - <%= @flashcard.correct_answers.find_index(answer.id) + 1 %>
                  </strong>
                <% end %>
                <%= hidden_field_tag "flashcard[answer][#{answer.id}]",
                                      answer.id
                %>
              </li>
          <% end %>
        </ul>
    </div>
  </div>

  <%# if @exam && @exam.submitted %>
    <hr>
    <ul>
      <% @flashcard.correct_answers.each do |answer_id| %>
            <% db_answer = Answer.find(answer_id) %>
          <% if db_answer.explanation  %>
            <li><strong><%= db_answer.explanation %></strong></li>
          <% end %>

      <% end %>
    </ul>
  <%# end %>

  <div class="col-12 d-flex justify-content-center mt-3">
    <% if !@exam_flashcard || (@exam && !@exam.submitted) %>
      <%= f.submit "Prüfen", class: "flashcard-btn btn btn-primary col-5", "data-turbolinks": false if action_name == "show" %>
    <% end %>
  </div>
  <%= link_to "Nächste",
            next_flashcard_article_flashcard_path(@article, @flashcard), id: "nextFlashcard",
            class: "flashcard-btn btn btn-primary col-5", "data-turbolinks": false if action_name == "answer_correct_order" %>
  <% end %>
</div>
