<div class="col-12">
  <h4 class="d-none d-lg-block">Ordne die Antworten zu</h4>
  <h5 class="d-lg-none d-block">Ordne die Antworten zu</h5>
</div>
<div class="card-body px-0">
  <div class="col-12">
    <h5 class="d-none d-lg-block"><%= flashcard.content %></h5>
    <h6 class="d-lg-none d-block"><%= flashcard.content %></h6>
  </div>
  <div class="row">
    <!-- The fixed answers -->
    <div class="col-6 px-1">
      <ul class="fixed-answers d-flex justify-content-between h-100" id="fixed-answers">
        <% @static_answers.each_with_index do |answer, index| %>
            <li data-check=<%= @flashcard.correct_answers[index] %>
            >
              <%= answer.content %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="col-6 px-1">
      <%= form_for answer_correct_order_article_flashcard_path(@article, @flashcard), url: {action: "answer_correct_order"}, method: :post, html: { id: "flashcardAnswerForm", class: "h-100", "data-form-submitted": false } do |f| %>

        <!-- The answers to drag, and actually check if correct -->
        <ul class="answers d-flex justify-content-between h-100" id="answers-drag">
          <% @dragabble_answers.shuffle.each_with_index do |answer, index| %>
              <% idx = @flashcard.correct_answers.find_index(answer.id) %>
              <li data-check=<%= @flashcard.correct_answers[idx] %>
              >
                <%= answer.content %>
                    <%#= @flashcard.correct_answers.find_index(answer.id) + 1 %>
                <%= hidden_field_tag "flashcard[answer][#{answer.id}]",
                                      answer.id
                %>
              </li>
          <% end %>
        </ul>
    </div>
  </div>

  <ul id="showCorrectAnswers" class="<%= 'd-none' unless @exam && @exam.submitted %>">
    <hr>
    <% @flashcard.correct_answers.each do |answer_id| %>
      <% db_answer = Answer.find(answer_id) %>
      <% if db_answer.explanation  %>
        <li><strong><%= db_answer.explanation %></strong></li>
      <% end %>
    <% end %>
  </ul>

  <div class="col-12 d-flex justify-content-center mt-3">
    <% if !@exam_flashcard %>
      <button type="button"
              class="flashcard-btn btn btn-primary"
              id="checkMatchAnswersBtn"
      >
        Prüfen
      </button>
    <% end %>
    <% if current_user.student? %>
      <%= f.submit "Nächste",
              class: "flashcard-btn btn btn-primary #{'d-none' unless @exam_flashcard && !@exam&.submitted}",
              id: "matchAnswersSubmitBtn",
              "data-turbolinks": false %>
    <% end %>
  </div>
  <% end %>
</div>
