<div class="card-title text-center mt-3">
  <h4 class="d-none d-lg-block"><%= flashcard.content %></h4>
  <h5 class="d-lg-none d-block"><%= flashcard.content %></h5>
</div>

<div class="card-body">
  <%= form_for answer_multiple_choice_article_flashcard_path(@article, @flashcard), url: { controller: "flashcards",
                      action: "answer_multiple_choice"},
                      method: :post,
                      html: { id: "flashcardAnswerForm",
                              "data-form-submitted": false } do |f| %>
    <% @flashcard.answers.shuffle.each do |answer| %>
      <div>
        <label>
          <%= check_box_tag "flashcard[answer_ids][]",
                            answer.id, false,
                            id: dom_id(answer),
                            checked: @user_answers&.include?(answer.id),
                            disabled: action_name == "answer_multiple_choice" ||@exam&.submitted,
                            class: "flashcard-answer",
                            data: {
                              check: @correct_answers.include?(answer.id)
                            } %>
            <%= answer.content %>
        </label>
        <%#= raise %>
      </div>
    <% end %>
    <% if @exam && @exam.submitted %>
      <hr>
      <ul>
        <% @flashcard.correct_answers.each do |answer_id| %>
              <% db_answer = Answer.find(answer_id) %>
            <% if db_answer.explanation  %>
              <li><strong><%= db_answer.explanation %></strong></li>
            <% end %>

        <% end %>
      </ul>
    <% end %>

    <% if !@exam_flashcard || (@exam && !@exam.submitted) %>
      <button class="flashcard-btn btn btn-primary"
              id="checkMutipleChoiceBtn"
      >
      Prüfen
    </button>
    <% end %>
    <% if current_user.student? %>
      <%= f.submit "Nächste",
              class: "flashcard-btn btn btn-primary d-none",
              id: "mutipleChoiceSubmitBtn",
              "data-turbolinks": false %>
    <% end %>
  <% end %>
  <!-- correct answer -->
  <!-- <hr>
  <p>correct answers</p>
  <%# @flashcard.correct_answers.each do |correct_answer| %>
    <p>- <%#= Answer.find(correct_answer).content %></p>
  <%# end %> -->
</div>
