<div class="card-body">
  <h4 class="d-none d-lg-block"><%= flashcard.content %></h4>
  <h5 class="d-lg-none d-block"><%= flashcard.content %></h5>
  <div class="row">
    <h4>Soll</h4>
    <h4 style="margin-left: 200px;">Haben</h4>
  </div>

  <%= form_for soll_ist_article_flashcard_path(@article, @flashcard), url: {action: "soll_ist"}, method: :post, html: { id: "flashcardAnswerForm", "data-form-submitted": false } do |f| %>

        <ul class="answers-numbers row" id="answers" style="width: 400px">
          <% @flashcard.correct_answers.each.with_index do |correct_answer, i| %>
              <li
                style="padding: 10px;"
                class=
                <% if action_name == "soll_ist"%>
                  <%= @is_answer_correct ? "correct-answer" : "false-answer"  %>
                <% end %>
                <%= i.even? ? "left-column" : "right-column" %>
              >
                <%= text_field_tag "flashcard[answer][#{i}]",
                     (action_name == "soll_ist" ? correct_answer : (@user_answers[i] if @user_answers))
                %>
              </li>
              <%# raise %>
          <% end %>
        </ul>
    <% if !@exam_flashcard || (@exam && !@exam.submitted) %>
      <%= f.submit "Prüfen",
                    class: "flashcard-btn btn btn-primary" if action_name == "show" %>
    <% end %>
    <%= link_to "Nächste",
              next_flashcard_article_flashcard_path(@article, @flashcard), id: "nextFlashcard",
              class: "flashcard-btn btn btn-primary" if action_name == "soll_ist" %>
  <% end %>
</div>
