<div class="container">
  <!-- quiz header -->
  <div class="row col-12 justify-content-between">
    <div class="py-3">
      <h3>Quiz</h3>
    </div>
    <div class="">Grid/List View</div>
  </div>
  <!-- quiz topics -->
  <div class="row">
    <%  @articles.each do |article| %>
      <div class="col-lg-3">
        <% if article.read_for?(current_user) %>
<<<<<<< HEAD
          <%= link_to [article, article.flashcards.first] do %>
            <div class="card">
              <%= article.title %>
              <br>
              <div class="row justify-content-around">
                <div class="col-6 m-1 btn-primary">Do Quiz</div>
              </div>
            </div>
          <% end %>
=======
          <%= link_to "Do Quiz", [article, article.flashcards.first], :"data-turbolinks" => false %>
>>>>>>> 0418f27ea71b2d2394b19349231f67771733cb75
        <% else %>
          <%= link_to article do %>
            <div class="card">
              <%= article.title %>
              <br>
              Read article
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

