<div class="container">
  <div class="row col-12 mt-3">
    breadcrumbs
  </div>
  <div class="row col-12 mt-3 justify-content-around">
    <div class="card col-8 p-3">
      <div class="container">
        <div class="text-center">
          Results
        </div>
        <div class="card-title text-center mt-3">
          <h4>Flashcard message</h4>
        </div>
        <div class="card-body">
          <p>Number of played flashcards: <b><%= @all_answered_flashcards.count %></b></p>
          <p>Number of tries: <b><%= @tries %></b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-12 mt-3 justify-content-around">
    <div class="col-8 p-3 d-flex justify-content-between">
    <%= link_to "Back to article", @article, class: "width-btn btn btn-outline-primary btn-lg" %>
    <%= link_to "Repeat quiz", [@article, @article.flashcards.first], class: "width-btn btn btn-outline-success btn-lg ml-5" %>
    <%= link_to "Next article", @next_article, class: "width-btn btn btn-outline-primary btn-lg ml-5" %>
    </div>
  </div>
</div>

