<div class="container col-12">
  <% if @exam %>
    <div class="row mx-0 col-12 d-flex justify-content-between">
  <% else %>
    <div class="row mx-0 col-12 d-flex justify-content-center">
  <% end %>

  <% if @exam %>
    <div class="mt-3 col-2 px-0">
      <!-- Exam info -->
      <div class="card mb-3 p-3 w-100">
        <div class="col-12 px-0">
          <div class="col-12 d-flex justify-content-center">
            <% if @exam&.submitted %>
              <%= link_to "Ergebnisse", custom_exam_results_path(@exam), class: "btn btn-success" %>
            <% end %>
        </div>
          <div class="d-flex justify-content-center">
            <% if @exam && !@exam.submitted %>
              <% if @flashcard.bookmarked_for?(@exam) %>
                <%= link_to unbookmark_custom_exam_flashcard_path(@exam, @flashcard), method: :patch, "data-turbolinks": false do %>
                  <div class="d-flex justify-content-between align-items-center">
                    <i class="material-icons-sharp bookmark-icon">bookmark</i>
                    <span style="">Entfernen</span>
                  </div>
                <% end %>
              <% else %>
                <%= link_to bookmark_custom_exam_flashcard_path(@exam, @flashcard), method: :post, "data-turbolinks": false do %>
                    <div class="d-flex justify-content-around align-items-center">
                      <i class="material-icons-sharp bookmark-icon">bookmark_border</i>
                      <span style="">Markieren</span>
                 </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% if @exam && !@exam.submitted %>
        <div class="p-2">
          <%= link_to "Prüfung abgeben",
          custom_exam_submit_exam_path(@exam),
          class: "btn btn-primary w-100" %>
        </div>

      <% end %>
    </div>
  <% end %>
  
  <% if @exam %>
  <div class="card mt-3 col-7">
  <% else %>
  <div class="card mt-3 col-9">
  <% end %>


      <!-- Question out of -->
      <div class="text-center">
        <p> Frage
          <% if @exam %>
            <%= flashcard_index_from(@questions, @flashcard) %>
          <% else %>
            <%= flashcard_index_from(@article.flashcards, @flashcard) %>
          <% end %>
        </p>
      </div>

      <!-- Author -->
      <% if current_user.author? %>
        <div class="row mt-3 justify-content-around">
          <div class="w-100 card p-3">
            <div class="mx-0 col-12 row d-flex justify-content-between align-items-center">
              <h5 class="badge badge-primary">
              <%= "#{current_user.first_name}" %>
              </h5>
              <h5>Editors:</h5>
              <% @flashcard.editors.each do |editor| %>
                <h5 class="badge badge-primary">
                  <%= editor.first_name %>
                </h5>
              <% end %>
              <%= link_to 'Frage bearbeiten', edit_flashcard_path(@flashcard), class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Image -->
      <div class="row">
        <% if @flashcard.image.attached? %>
          <div class="col-4" style="margin-left: auto;">
            <!-- Button trigger modal -->
            <button type="button" class="flashcard-image__thumb" data-toggle="modal" data-target="#flashcardImage">
              <%= cl_image_tag @flashcard.image.key, width: 200, height: 100, crop: :fill %>
            </button>
          </div>
        <% end %>
      </div>


      <!-- Flashcard content -->
      <div class="row d-flex justify-content-center">
        <% if @exam %>
          <div class="col-12">
        <% else %>
          <div class="col-12">
        <% end %>
          <% case @flashcard.flashcard_type %>
          <% when "multiple_choice" %>
            <%= render "flashcards/multiple_choice", flashcard: @flashcard %>
          <% when "correct_order" %>
            <%= render "flashcards/correct_order", flashcard: @flashcard %>
          <% when "match_answers" %>
            <%= render "flashcards/match_answers", flashcard: @flashcard %>
          <% when "soll_ist" %>
            <%= render "flashcards/soll_ist", flashcard: @flashcard %>
          <% when "table_quiz" %>
            <%= render "flashcards/table_quiz", flashcard: @flashcard %>
          <% end %>
        </div>
      </div>

      <!-- Image Modal -->
      <% if @flashcard.image.attached? %>
        <div class="modal fade" id="flashcardImage" tabindex="-1" role="dialog" aria-labelledby="flashcardImage" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="img">
            <div class="modal-content">
              <%= cl_image_tag @flashcard.image.key %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if @exam %>
      <div class="card mt-3 col-2 sticky-card">
            <div class="border-bottom pb-2">
              Frage:
            </div>
        <div class="mt-3">
          <ul class="sticky-questions">
            <% @questions.each.with_index do |q, i| %>
                <li class="exam-question p-1">
                  <div class="row mx-0">
                    <div class="col-4 mx-0">
                      <%= link_to custom_exam_flashcard_path(@exam, @exam.questions[i]), "data-turbolinks": false do %>
                          <button class="btn btn-primary">
                            <%= i + 1 %>
                          </button>
                          <!-- <div class="exame-question-link d-flex align-items-center">
                            Frage
                          </div> -->
                      <% end %>
                    </div>
                    <div class="col-8">
                      <% if @exam.answer_for(q)&.bookmarked %>
                        <span class="badge badge-pill badge-primary">Markiert</span>
                      <% end %>
                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>