<h1>Quiz</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% case @flashcard.flashcard_type %>
      <% when "multiple_choice" %>
        <%= render "flashcards/multiple_choice", flashcard: @flashcard %>
      <% when "correct_order" %>
        <%= render "flashcards/correct_order", flashcard: @flashcard %>
      <% when "match_answers" %>
        <%= render "flashcards/match_answers", flashcard: @flashcard %>
      <% when "input_numbers" %>
        <%= render "flashcards/input_numbers", flashcard: @flashcard %>
      <% end %>

    <% #if @flashcard.flashcard_type == "multiple_choice" %>
      <%#= render "flashcards/multiple_choice", flashcard: @flashcard %>
    <%# elsif @flashcard.flashcard_type == "correct_order" %>
      <%#= render "flashcards/correct_order", flashcard: @flashcard %>
    <%# elsif @flashcard.flashcard_type == "match_answers" %>
      <%#= render "flashcards/match_answers", flashcard: @flashcard %>
    <%# end %>
    </div>
    <% if @flashcard.image.attached? %>
      <div class="col-md-4">
        <!-- Button trigger modal -->
        <button type="button" class="flashcard-image__thumb" data-toggle="modal" data-target="#flashcardImage">
          <%= cl_image_tag @flashcard.image.key,
                            width: 200, height: 100, crop: :fill %>
        </button>
      </div>
    <% end %>
  </div>
</div>

<% if @flashcard.image.attached? %>
  <!-- Modal -->
  <div class="modal fade" id="flashcardImage" tabindex="-1" role="dialog" aria-labelledby="flashcardImage" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="img">
      <div class="modal-content">
        <%= cl_image_tag @flashcard.image.key %>
      </div>
    </div>
  </div>
<% end %>