<div class="container text-center login-form justify-content-center">
  <div class="row w-100 justify-content-center">
    <div class="col-12 pt-5">
      <h2>Anmelden</h2>
    </div>
    <div class="col-12 py-2">
      <p>Gib einfach deine Kontaktdaten ein um dich anzumelden.</p>
    </div>

    <div class="login-box p-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field py-2">
        <%= f.label "Anmeldename" %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field py-2">
        <%= f.label "passwort" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field py-2">
          <%= f.check_box :remember_me %>
          <%= f.label "Angemeldet bleiben" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Anmelden", class: "btn btn-primary login-btn"%>
      </div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end %>
    <% end %>
    </div>
  </div>
</div>