<div class="container">
  <div class="row">

    <h1>
      <%= @article.title %>
      <span class="badge badge-primary">
        <%= 'read' if @article.read_for?(current_user) %>
      </span>
      <span class="badge badge-secondary">
        <%= 'bookmarked' if @article.bookmarked_for?(current_user) %>
      </span>
    </h1>
    <p><%= @article.description %></p>
    <p>
      <% if @article.bookmarked_for?(current_user) %>
        <%= link_to 'Unbookmark article', unbookmark_article_path(@article),                                      method: :patch,
                                          class: "btn btn-warning" %>
      <% else %>
        <%= link_to 'Bookmark article', bookmark_article_path(@article),
                                        method: :post,
                                        class: "btn btn-primary" %>
      <% end %>
      <%# if @article.read_for?(current_user) %>
        <%#= link_to "Mark as unread", unread_article_path(@article),
                                      method: :patch,
                                      class: "btn btn-warning" %>
      <%# else %>
        <%#= link_to "Mark as read", read_article_path(@article),
                                    method: :post,
                                    class: "btn btn-primary" %>

      <%# end %>
    </p>
  </div>
  <ul>
    <%= render @article.chapters %>
  </ul>
  <%= link_to "Quiz", article_flashcard_path(@article, @flashcard) %>
</div>