<!-- topic tab -->
<div role="tabpanel" class="tab-pane active py-3" id="topic">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-lg-3 my-2">
        <%= link_to category do %>
          <div class="card topic-card">
            <div class="card-name pt-1 pb-4">
              <%= category.title %>
            </div>
          <div class="card-progress">
              <div class="row col-12 justify-content-between">
                <div class="read-text">
                  Gelesen
                </div>
                <div class="progress-percentage">
                  <%= '%.2f' % (((category.articles & @read_articles).count * 100) / (category.articles.count)) %>%
                </div>
              </div>
              <progress class="w-100" value="<%= (category.articles & @read_articles).count %>" max="<%= (category.articles.count) %>"></progress>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- upcoming tab -->
<div role="tabpanel" class="tab-pane py-3 mh-100" id="upcoming">
  <div class="row">  
    <% @upcoming_categories.each do |upcoming_category| %>
      <div class="col-lg-3 my-2">
        <%= link_to upcoming_category do %>
          <div class="card topic-card">
            <div class="card-name">
              <%= upcoming_category.title %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- bookmarked tab -->
<div role="tabpanel" class="tab-pane py-3 mh-100" id="bookmarked">
  <div class="row">
    <% @bookmarked_categories.each do |bookmarked_category| %>
      <div class="col-lg-3 my-2">
        <%= link_to bookmarked_category do %>
          <div class="card topic-card">
            <div class="card-name">
              <%= bookmarked_category.title %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- read tab -->
<div role="tabpanel" class="tab-pane py-3 mh-100" id="read">
  <div class="row">  
    <% @read_categories.each do |read_category| %>
      <div class="col-lg-3 my-2">
        <%= link_to read_category do  %>
          <div class="card topic-card">
            <div class="card-name">
              <%= read_category.title %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>