<%= render "devise/shared/error_messages", resource: object %>
<%= form_with model: object, local: true, class: "form-inline mt-5" do |f| %>

  <div class="form-group">
    <div class="form-group">
      <%= f.label "Profession:" %>
      <%= f.select "profession_id",
            options_for_select(
              @professions.map { |profession| [profession.name, profession.id] },
              @topic.profession ? @topic.profession.id : false # set profession for edit form
            ) %>
    </div>
    <%= f.label :name, class: "mr-2" %>
    <%= f.text_field :name,
                     class: "form-control" %>
  </div>

  <%= f.submit "Aktualisieren", class: "btn btn-primary ml-5" %>
<% end %>