<%= render "devise/shared/error_messages", resource: object %>
<%= form_with model: object, local: true, class: "form-inline mt-5" do |f| %>

  <div class="form-group">
    <%= f.label :name, class: "mr-2" %>
    <%= f.text_field :name,
                     class: "form-control" %>
  </div>

  <%= f.submit "Aktualisieren",class: "btn btn-primary ml-5" %>
<% end %>