<div class="container header">
  <div class="my-3 h-100">
    <div class="row mh-100">
      <!-- breadcrumbs -->
      <div class="row mt-3 col-12 breadcrumbs ml-3">
        Erstelle eine individuelle Prüfungssimulation
      </div>
      <!-- quiz header -->
      <div class="row col-12 justify-content-between">
        <div class="col-6 py-3">
          <h3>Prüfungen</h3>
        </div>
        <!-- <div class="col-2">Grid/List View</div> -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tab-content mh-100">
    <!-- exam form -->
    <%= form_with model: @exam, local: true,id: "examWrapper" do |f| %>
    <div class="row my-4">
      <div class="col">
        <h6>Lernfelder</h6>
       <!-- topic selection -->
        <% current_user.profession.topics.each do |topic| %>
        <% if topic.categories.map{|c| c.articles.count}.sum > 0 %>
          <label>
            <%= check_box_tag "exam[topic_id]",
                              topic.id,
                              false,
                              id: dom_id(topic),
                              data: {
                                remote: true,
                                url: url_for(
                                  action: :add_exam_categories,
                                  id: dom_id(topic)),
                                method: "GET"
                              }
                              %>
            <%= topic.name %>
          </label>
        <% end %>
      <% end %>
      </div>
      <div class="col" id="examCategories">
        <h6>Kategorien</h6>
      </div>
      <div class="col" id="examArticles">
        <h6>Artikel</h6>
      </div>
      <!--
      <div class="col" id="examPastFlashcards">
        <h6>Previously answered</h6>
          <label>
            <%#= radio_button_tag "exam[answered]", "all", true %>
            All
          </label>
          <label>
            <%#= radio_button_tag "exam[answered]", "correct" %>
            Correct
          </label>
          <label>
            <%#= radio_button_tag "exam[answered]", "wrong" %>
            Wrong
          </label>
      </div>
      -->
    <div class="col-2">
      <%= f.submit "Start", id: "startExam", disabled: true, class:"btn btn-primary w-100", validates:"exam[topic_id]", acceptance: true %>
    </div>
    </div>
    <% end %>
</div>



  <!-- Finished and unfinished exams -->
  <div class="row mt-5">
    <div class="col">
      <h3 class="heading-3">Absolvierte Prüfungssimulationen</h3>
    </div>
  </div>
  <div class="row">
      <% @exams.each.with_index do |exam, i| %>
        <div class="col-4">
        <%= link_to exam do %>
          <p>Exam Nr.<%= i + 1 %> - Datum: <%= exam.created_at.to_date %></p>
        <% end %>
        </div>
      <% end %>
  </div>
</div>

