<div class="container header">
  <div class="my-3 h-100">
    <div class="row mh-100">
      <!-- result header -->
      <div class="row col-12 justify-content-between">
        <div class="col-10 py-3">
          <h3>Ergebnisse</h3>
        </div>
      </div>
      <!-- results -->
      <div class="row mt-3 col-12 breadcrumbs ml-3">
        <div class="col-2">
          Punkte: <%= @correct_answers %> / <%= @exam.questions.count %>
        </div>
        <div class="col">
          Richtig beantwortet: <%= @correct_answers %>
        </div>
        <div class="col">
          Falsch beantwortet: <%= @exam.questions.size - @correct_answers %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-around">
  <div class="card col-6 mt-3">

  <div class="tab-content mh-100 exam-results">
    <% @questions.each.with_index do |q, i| %>
      <div class="row d-flex justify-content-between">
       <div class="col-3">
         <%= link_to "Frage #{i + 1}", custom_exam_flashcard_path(@exam, @exam.questions[i]) %>
       </div>
       <div class="col-4">
        <% if @exam.answer_for(q)&.correct %>
          <b class="bg-success">Richtig</b>
        <% else %>
          <em class="bg-danger">Falsch</em>
        <% end %>
       </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
  </div>