<section class="edit-profile container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center my-5">Profil Einstellungen</h2>
      <% if current_user.first_name.present? %>
        <h4 class="mb-2">
          <%="Benutzer Daten von #{current_user.first_name}" %>
        </h4>
      <% end %>
      <table class="table table-striped my-3">
        <tbody>
          <tr>
            <th scope="row">Vorname</th>
            <td>
              <%= current_user.first_name if current_user.first_name.present? %>
            </td>
          </tr>
          <tr>
            <th scope="row">Nachname</th>
            <td>
              <%= current_user.last_name if current_user.last_name.present? %>
            </td>
          <tr>
            <th scope="row">Email</th>
            <td>
              <%= current_user.email if current_user.email.present? %>
            </td>
          </tr>
              <tr>
            <th scope="row">Geburtsdatum</th>
            <td>
              <%= current_user.birth_date if current_user.birth_date.present? %>
            </td>
          </tr>
          <% if current_user.student? %>
            <tr>
              <th scope="row">Datum der Abschlussprüfung</th>
              <td>
                <%= current_user.exam_date.to_formatted_s(:long) if current_user.exam_date.present? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= link_to 'Profil anpassen', profile_edit_path, class: "btn btn-primary" %>
        <%= link_to "Passwort ändern", edit_user_registration_path, class: "btn btn-warning"%>
      </div>
    </div>
  </div>
</section>