<section class="edit-profile container">
  <div class="row">
    <div class="col-md-6">
      <% if current_user.first_name.present? %>
        <h2 class="mb-5">
          <%="Hi, #{current_user.first_name}" %>
        </h2>
      <% end %>
      <table class="table table-striped mt-5">
        <tbody>
          <tr>
            <th scope="row">First Name</th>
            <td>
              <%= current_user.first_name if current_user.first_name.present? %>
            </td>
          </tr>
          <tr>
            <th scope="row">Last Name</th>
            <td>
              <%= current_user.last_name if current_user.last_name.present? %>
            </td>
          <tr>
            <th scope="row">Email</th>
            <td>
              <%= current_user.email if current_user.email.present? %>
            </td>
          </tr>
              <tr>
            <th scope="row">Birthday</th>
            <td>
              <%= current_user.birth_date if current_user.birth_date.present? %>
            </td>
          </tr>
              <tr>
            <th scope="row">Exam day</th>
            <td>
              <%= current_user.exam_date if current_user.exam_date.present? %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to 'Update profile', profile_edit_path, class: "btn btn-info" %>
      <%= link_to "Change your password", edit_user_registration_path, class: "btn btn-danger"%>
    </div>
  </div>
</section>