<div class="row mx-0 py-4 footer justify-content-center w-100">
	<div class="row mx-0 col-12 justify-content-around">	
	  <div class="col-3 col-md-1">
	  	<div class="row"><strong>Mozubi</strong></div>
	  	<div class="row">
	  		<%= link_to "Über Uns", mozubi_path %>
	  	</div>
	  	<div class="row">
	  		<%= link_to "Hilfspaket", hilfspaket_path %>
	  	</div>
	  	<!-- <div class="row">
	  		<%#= link_to "Azubis", azubis_path %>
	  	</div>
	  	<div class="row">
	  		<%#= link_to "Unternehmen", unternehmen_path %>
	  	</div> -->
	  </div>
	  <div class="col-3 col-md-1">
	  	<div class="row"><strong>Rechtliches</strong></div>
	  	<div class="row">
	  		<%= link_to "Datenschutz", datenschutz_path %>
	  	</div>
	  	<!-- <div class="row">
	  		<%#= link_to "AGBs", agbs_path %>
	  	</div> -->
	  	<div class="row">
	  		<%= link_to "Impressum", impressum_path %>
	  	</div>
	  </div>
	  <!-- <div class="col-1">
	  	<div class="row"><strong>Kontakt</strong></div>
	  	<div class="row">info@mozubi.app</div>
	  	<div class="row"></div>
	  </div> -->
	</div>
	<div class="row col-10 col-lg-12 mx-0 py-2 d-flex justify-content-center">
		<div class="d-none d-lg-flex justify-content-center col-12">
			<%= image_tag "https://res.cloudinary.com/mozubi/image/upload/v1584558166/Mozubi/Logo/Mozubi-blue-green_jtidxd.png", class: 'logo-footer' %>
		</div>
		<div>
		© <%= Time.zone.now.year %> Privatwirtschaftliches Institut für digitale Bildung
		</div>
	</div>
</div>
