<ul class="nav nav-pills nav-fill">
	<% if user_signed_in? %>
		<li class="nav-item col-8">
			<%= form_with url: search_path,
			                    local: true,
			                    method: :get,
			                    html: {
			                      class:"form-inline w-100" } do |f| %>
	        <%= f.text_field :query,
	          class: "form-control",
	          placeholder: "Search for a topic, module, term...",
	          style: "width: 100%;",
	          id: "autocompleteSearch"
	        %>
	        <%= submit_tag "Search", class: "btn btn-primary d-none" %>
	      <% end %>
		</li>
		<li class="nav-item">
			<!-- notifications -->
		</li>
		<li class="nav-item">
			<%= link_to 'Profil', profile_path, class: "btn btn-secondary" %>
		</li>
		<li class="nav-item">
			<!-- dropdown with 
			- account settings (&logout) -->
		  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
		</li>	
	<% else %>
	  <li class="nav-item">
	    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
	  </li>
	<% end %>
</ul>