<% if user_signed_in? && !company_signed_in? %>
	<ul class="col-12 nav-pills nav-fill row mx-0 justify-content-between mb-0">
		<li class="nav-item col-12 col-md-8 search-form-control">
			<%= form_with url: search_path,
			                    local: true,
			                    method: :get,
			                    html: {
			                      class:"form-inline w-100" } do |f| %>
	        <%= f.text_field :query,
	          class: "form-control",
	          placeholder: "Suche nach einem Artikel oder Begriff...",
	          style: "width: 100%",
	          id: "autocompleteSearch"
	        %>
		    <button name="button" type="submit" class="btn btn-flat align-items-center justify-content-center d-none d-lg-flex">
		      <i class="fas fa-search"></i> &nbsp
		      <div>Search</div>
		    </button>
	        <%= submit_tag "Search", class: "btn btn-primary d-none" %>
	      <% end %>
		</li>
      	<li class="nav-item dropdown col-4 col-md-2 d-flex justify-content-center">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
		 		Profil <span class="caret"></span>
		 	</button>
	        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
		        <%= link_to "Einstellungen", profile_path, class: "landing-nav dropdown-item" %>
		        <%= link_to "Ausloggen", destroy_user_session_path, method: :delete, class: "landing-nav dropdown-item" %>
	        </div>
      	</li>
    </ul>
<% elsif company_signed_in? %>
	<ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <%= link_to "Profil", company_profile_path, class: "btn btn-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ausloggen", destroy_company_session_path, method: :delete, class: "btn btn-outline-primary" %>
        </li>
	</ul>
<% else %>
<div class="row justify-content-between py-3">
	<!-- left navbar logo -->
	<div class="col-6 col-md-8">
		<%= link_to root_path do %>
	  		<%= image_tag "https://res.cloudinary.com/mozubi/image/upload/v1582744555/Mozubi/Logo_schwarz_e4slbq.png", class: "logo" %>
	  	<% end %>
	</div>
	
	<!-- <div class="col-2 collapse navbar-collapse" id="navbarSupportedContent"> -->
	<div class="col-4 col-sm-3 col-md-2 align-self-center d-flex justify-content-end">
	    <ul class="navbar-nav mr-auto">
	      <!-- <li class="nav-item active">
	        <%#= link_to "Home", "#", class: "nav-link" %>
	      </li>
	      <li class="nav-item">
	        <%#= link_to "Messages", "#", class: "nav-link" %>
	      </li> -->
	      <li class="nav-item dropdown">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
			 
				Einloggen <span class="caret"></span>
			 
			</button>
	        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
		        <%= link_to "Azubi", new_user_session_path, class: "landing-nav dropdown-item" %>
		        <%= link_to "Unternehmen", new_company_session_path, class: "landing-nav dropdown-item" %>
	        </div>
	      </li>
	    </ul>
	</div>
	<!-- </div> -->
<% end %>