<% if user_signed_in? && !company_signed_in? %>
  <ul class="nav flex-column text-center">
    <!-- Dashboard -->
    <% if current_user.author? %>
      <li class="nav-item my-2">
        <%= link_to author_dashboard_path, class: "nav-link" do %>
          <div class="row">
            <i class="material-icons-sharp sidebar-icon">home</i>
            <div class="sidebar-text d-none d-lg-block">Dashboard</div>
          </div>
        <% end %>
      </li>
      <!-- Author library -->
      <li class="nav-item my-2">
        <%= link_to articles_path, class: "nav-link" do %>
          <div class="row">
            <i class="material-icons-sharp sidebar-icon">menu_book</i>
            <div class="sidebar-text d-none d-lg-block">Bibilothek</div>
          </div>
        <% end %>
      </li>

       <li class="nav-item my-2">
        <%= link_to new_article_path, class: "nav-link" do %>
          <div class="row">
            <i class="material-icons-sharp sidebar-icon">description</i>
            <div class="sidebar-text d-none d-lg-block">Neuer Artikel</div>
          </div>
        <% end %>
      </li>

       <li class="nav-item my-2">
        <%= link_to new_flashcard_path, class: "nav-link" do %>
          <div class="row">
            <i class="material-icons-sharp sidebar-icon">dynamic_feed</i>
            <div class="sidebar-text d-none d-lg-block">Neues Quiz</div>
          </div>
        <% end %>
      </li>
    <% end %>
    <% if current_user.student? %>
      <li class="nav-item my-2">
        <%= link_to dashboard_path, class: "nav-link" do %>
          <div class="row">
            <i class="material-icons-sharp sidebar-icon">home</i>
            <div class="sidebar-text d-none d-lg-block">Dashboard</div>
          </div>
        <% end %>
      </li>

      <!-- Article -->
      <li class="nav-item my-2">
        <%= link_to topics_path, class: "nav-link" do %>
          <div class="row">
            <i class="material-icons-sharp sidebar-icon">menu_book</i>
            <div class="sidebar-text d-none d-lg-block">Artikel</div>
          </div>
        <% end %>
      </li>

      <!-- Quiz -->
      <li class="nav-item my-2">
        <%= link_to flashcards_path, class: "nav-link" do %>
          <div class="row">
            <i class="material-icons-sharp sidebar-icon">dynamic_feed</i>
            <div class="sidebar-text d-none d-lg-block">Quiz</div>
          </div>
        <% end %>
      </li>
      <!-- Exams -->
      <li class="nav-item my-2 d-none d-lg-block">
        <%= link_to new_custom_exam_path, class: "nav-link" do %>
          <div class="row">
            <i class="material-icons-sharp sidebar-icon">description</i>
            <div class="sidebar-text d-none d-lg-block">Prüfungen</div>
          </div>
        <% end %>
      </li>
      <!-- Slack -->
      <li class="nav-item my-2">
        <div class="nav-link">

        <%#= link_to "https://mozubi.slack.com/", class: "nav-link" do %>
          <a class="row" target="_blank" rel="noopener noreferrer" href="https://mozubi.slack.com/">
            <i class="fab fa-slack sidebar-icon"></i>
            <div class="sidebar-text d-none d-lg-block">Forum</div>
          </a>
        </div>
        <%# end %>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="nav-item">
        <%= link_to "Users", admin_dashboard_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Professisons", admin_professions_path, class: "nav-link" %>
      </li>
    <% end %>

  <!-- Company Dashboard -->
  <% elsif company_signed_in? %>
    <li class="nav-item">
      <%= link_to "Dashboard", company_dashboard_path, class: "nav-link" %>
    </li>
  </ul>
<% end %>