<div class="col">
  <%= link_to "Admin", new_user_path, class: "btn btn-outline-danger ml-3" %>
  <%= link_to "Profession", new_profession_path, class: "btn btn-outline-primary ml-3" %>
  <%= link_to "Company", new_company_path, class: "btn btn-outline-primary ml-3" %>
  <%= link_to "Author", new_author_path, class: "btn btn-outline-primary ml-3" %>
  <%= link_to "Student", new_student_path, class: "btn btn-outline-primary ml-3" %>
  <%= link_to "Lernfeld", new_topic_path, class: "btn btn-outline-success ml-3" %>
  <%= link_to "Categorie", new_category_path, class: "btn btn-outline-success ml-3" %>
  <%= link_to "Artikel", new_article_path, class: "btn btn-outline-success ml-3" %>
  <%= link_to "Quiz", new_flashcard_path, class: "btn btn-outline-success ml-3" %>
</div>