<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="display-4">Control panel</h2>
    </div>
  </div>

  <div class="row">
    <%= render "menu_create_records" %>
  </div>

  <div class="row mt-5">
    <div class="col">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item">
          <a class="nav-link active" id="admins-tab" data-toggle="tab" href="#admins" role="tab" aria-controls="admins"
            aria-selected="true">Admins</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="authors-tab" data-toggle="tab" href="#authors" role="tab" aria-controls="authors"
            aria-selected="true">Authors</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="students-tab" data-toggle="tab" href="#students" role="tab" aria-controls="students"
            aria-selected="true">Students</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="corona-students-tab" data-toggle="tab" href="#corona-students" role="tab" aria-controls="corona-students"
            aria-selected="true">Corona Students</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="companies-tab" data-toggle="tab" href="#companies" role="tab"
            aria-controls="companies" aria-selected="false">Companies</a>
        </li>

      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="admins" role="tabpanel" aria-labelledby="admins-tab">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "users/generated_user", collection: UserCredential.admin, as: :user %>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="authors" role="tabpanel" aria-labelledby="authors-tab">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Profession</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "users/generated_user", collection: UserCredential.author, as: :user %>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="students" role="tabpanel" aria-labelledby="students-tab">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Profession</th>
                <th scope="col">Company</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "users/generated_user", collection: UserCredential.student, as: :user %>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="corona-students" role="tabpanel" aria-labelledby="corona-students-tab">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Profession</th>
                <th scope="col">Email</th>
                <th colspan="2">
                  <%= link_to 'Download Users as Excel',
                            admin_dashboard_path(format: :xlsx),
                            class: "btn btn-primary",
                            "data-turbolinks": false %>
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "users/generated_temp_user", collection: TemporaryUserCredential.student, as: :user %>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="companies" role="tabpanel" aria-labelledby="companies-tab">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "companies/generated_company", collection: CompanyCredential.all, as: :company %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>