<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="display-4">Control panel</h2>
    </div>
  </div>

  <div class="row">
    <%= render "menu_create_records" %>
  </div>

  <div class="row mt-5">
    <div class="col">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item d-none">
            <a class="nav-link" id="hidden-tabs-" data-toggle="tab" href="#hidden-tab-" role="tab"
              aria-controls="hidden-tab-" aria-selected="false">

            </a>
          </li>
        <% Profession.all.each do |profession| %>
          <li class="nav-item">
            <a class="nav-link" id="<%= profession.id %>-tab" data-toggle="tab" href="#<%= profession.id %>" role="tab"
              aria-controls="<%= profession.id %>" aria-selected="false">
              <%= profession.name %>
            </a>
          </li>
        <% end %>

      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane active d-none" id="hidden-tab-" role="tabpanel" aria-labelledby="hidden-tab--tab">

          </div>

        <% Profession.all.each do |profession| %>

          <div class="tab-pane" id="<%= profession.id %>" role="tabpanel" aria-labelledby="<%= profession.id %>-tab">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "topics/author_topic", collection: profession.topics.all, as: :topic %>
              </tbody>
            </table>
          </div>
        <% end %>


      </div>
    </div>
  </div>
</div>