<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2 class="display-4">Control panel</h2>
    </div>
  </div>

  <div class="row">
    <%= render "menu_create_records" %>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h3>
        Professions
      </h3>
    </div>
  </div>

  <div class="row mt-2">
    <% Profession.all.each do |profession| %>
      <%= link_to profession do %>
        <div class="col">
          <div class="card topic-card justify-content-between  mt-3">
            <div class="card-name pt-1 pb-3">
              <%= profession.name %>
              <span class="badge badge-primary"  style="position: absolute;
                                                        top: 26px;
                                                        right: 20px; ">
                <%= profession.users.count %> <%= far_icon('users', type: :solid) %>
              </span>
            </div>
            <%= link_to "Edit",
                        edit_profession_path(profession),
                        class: "btn btn-warning" %>
            <% if profession.users.empty? %>
              <%= link_to "Delete",
                          profession_path(profession),
                          method: :delete,
                          class: "btn btn-danger",
                          data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>