<%# raise %>
<div class="container">
	<!-- Welcome back message -->
	<div class="row mt-3">
		<div class="col-12">
			<% if current_user.first_name != "" %>
				<strong>Willkommen zur端ck <%= current_user.first_name %>!</strong>
			<% else %>
				<strong>Willkommen zur端ck!</strong>
			<% end %>
		<p>Mach weiter so, du bist schon sehr weit gekommen.</p>
		</div>
	</div>
	<!-- Stats -->
	<div class="row mt-3">
		<div class="col-12 col-sm-6 col-md-6 col-lg-3 my-1">
			<div class="card col-12">
				<div class="card-progress">
				  <div class="row mx-0 justify-content-between align-items-center">
				    <div class="">
				      <strong><%= (current_user.exam_date.to_date - Date.today).to_i %> Tage</strong>
				    </div>
				    <div class="read-text">
				      Bis zur Pr端fung
				    </div>
				  </div>
				  <progress class="w-100" value="<%= (current_user.exam_date.to_date - Date.today).to_i %>" max="<%= (current_user.exam_date.to_date - current_user.created_at.to_date).to_i %>"></progress>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-3 my-1">
			<%= link_to topics_path, class: "" do %>
				<div class="card col-12">
					<div class="card-progress">
					  <div class="row mx-0 justify-content-between align-items-center">
					    <div class="">
					      <strong><%= @read_articles.count %> Artikel</strong>
					    </div>
					    <div class="read-text">
					      Gelesen
					    </div>
					  </div>
					  <progress class="w-100" value="<%= @read_articles.count %>" max="<%= @articles.count %>"></progress>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-3 my-1">
			<%= link_to flashcards_path, class: "" do %>
				<div class="card col-12">
					<div class="card-progress">
					  <div class="row mx-0 justify-content-between align-items-center">
					    <div class="">
					      <strong><%= (current_user.user_flashcards.select {|f| f.correct}.count) %> Quiz</strong>
					    </div>
					    <div class="read-text">
					      Korrekt beantwortet
					    </div>
					  </div>
					  <progress class="w-100" value="<%= (current_user.user_flashcards.select {|f| f.correct}.count) %>" max="<%= policy_scope(Flashcard).count %>"></progress>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-3 my-1">
			<%= link_to new_custom_exam_path, class: "" do %>
				<div class="card col-12">
					<div class="card-progress">
					  <div class="row mx-0 justify-content-between align-items-center">
					    <div class="">
					      <strong><%= current_user.custom_exams.count %> Pr端fungen</strong>
					    </div>
					    <div class="read-text">
					      Simuliert
					    </div>
					  </div>
					  <progress class="w-100" value="<%= current_user.custom_exams.count %>" max=100></progress>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<!-- Current Topic -->
	<div class="row my-3">
		<div class="col-12">
			<div class="card col-12">
				<div class="card-body">
					<div class="card-body-topic pb-3">
						<strong>
						<%= @current_topic.name.upcase %>
						</strong>
					</div>
					<div class="card-body-category pb-3">
						<strong>
						<%= @current_category.title %>
						</strong>
					</div>
					<div class="card-body-articles pb-3 border-bottom">
		              	<% @current_category.articles.published.each do |article| %>
		              	<%# raise %>
		              		<div class="row article_row p-1">
			                	<div class="card-body-topic-title col-9 col-lg-11">
			                		<%= link_to article do  %>
			                 			<%= article.title %>
			                 		<% end %>
			                	</div>
			                	<div class="card-body-topic-status">
			                 		<%= render inline: @upcoming_articles.include?(article) ? '<i class="material-icons-sharp pending-icon">schedule</i>' : '<i class="material-icons-sharp success-icon">check_circle</i>' %>
			              		</div>
		                	</div>
		             	<% end %>
		            </div>
		            <div class="row py-3 align-items-center">
		            	<div class="col-12 col-lg-10">
		            		<div class="">
		            			Verbleibende Lesezeit:
		            			<strong>
		            				<%= @current_category.articles.published.count * 2.5 %>
		            			Minuten</strong>
		            		</div>
		            	</div>
		            	<div class="my-2 col-4 col-lg-1">
		            		<%= link_to @current_article do %>
		    				<div class="btn btn-primary">Weiterlesen</div>
		    				<% end %>
		            	</div>
		            </div>
				</div>
			</div>
		</div>
	</div>
	<%# raise %>
	<!-- Tips of the month -->
	<!-- <div class="row mt-3">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Tip of the month</h5>
				</div>
			</div>
		</div>
	</div> -->
</div>
