<div class="col-12 px-0">
	<div class="row mx-0 landing-banner">
		<div class="col-12 justify-content-center align-items-center row">
			<div class="my-3 mx-3">
				Wir unterstützen <strong>ALLE AZUBIS</strong> kostenlos bei ihrer Prüfungsvorbereitung, solange die Berufsschulen geschlossen sind!
			</div>
		</div>
	</div>

  <div class="row justify-content-center mt-5">
    <div class="col col-md-4">
      <h1 class="display-4">Corona Lizenz anfordern</h1>
    </div>
  </div>

  <div class="row mx-0 py-5 justify-content-center">
    <div class="col col-md-4">
      <%= form_with(model: @temporary_user,
                    local: true) do |f| %>
        <%= render "devise/shared/error_messages", resource: @temporary_user %>

        <div class='form-group'>
          <%= f.label "Vorname" %>
          <%= f.text_field :first_name, required: true, class: 'form-control' %>
          <small id="emailHelp" class="form-text text-muted">*notwendig</small></div>

        <div class='form-group'>
          <%= f.label "Nachname" %>
          <%= f.text_field :last_name, required: true, class: 'form-control' %>
          <small id="emailHelp" class="form-text text-muted">*notwendig</small></div>

        <div class='form-group'>
          <%= f.label "Email" %>
          <%= f.text_field :email, required: true, class: 'form-control' %>
          <small id="emailHelp" class="form-text text-muted">*notwendig</small></div>

        <div class='form-group'>
        	<%= f.label :birth_date, 'Geburtsdatum' %>
        	<%= f.date_field :birth_date, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label "Ausbildungsbetrieb" %>
          <%= f.text_field :company_name, class: 'form-control' %>
          <small id="emailHelp" class="form-text text-muted">*notwendig</small>
        </div>

        <div class='form-group'>
          <%= f.label "Berufsschule" %>
          <%= f.text_field :school_name, required: true, class: 'form-control' %>
          <small id="emailHelp" class="form-text text-muted">*notwendig</small>
        </div>

        <div class='form-group'>
          <%= f.label "Abschlussprüfungsdatum" %>
          <%= f.date_field :exam_date, required: true, class: 'form-control' %>
          <small id="emailHelp" class="form-text text-muted">*notwendig</small>
        </div>

        <!-- Restrict only to our finished professions  -->
        <div class="form-group">
          <%= f.label "Ausbildungsberuf", class: "mr-2" %>
          <%= f.select "profession_id",
                options_for_select(
                  @professions.map { |profession| [profession.name, profession.id] }.select { |p| p[0] != "Controlling" }
                ) %>
        </div>

        <%= f.submit 'Absenden', class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
</div>
<%#= render 'shared/landing_footer' %>