<!-- topic tab -->
<div role="tabpanel" class="tab-pane active py-3" id="topic">
  <div class="row">
    <% @category.articles.each do |article| %>
      <div class="col-lg-3 my-2">
        <%= link_to article do %>
          <div class="card topic-card justify-content-between">
            <div class="card-name pt-1 pb-4">
              <%= article.title %>
            </div>
            <div class="card-bottom">
              <div class="card-progress">
                <div class="row mx-0 justify-content-between">
                  <div class="read-text">
                    Gelesen
                  </div>
                  <% if @read_articles.include?(article) %>
                    <div class="progress-percentage">
                      100%
                    </div>
                    <progress class="w-100" value="100" max="100"></progress>
                  <% else %>
                    <div class="progress-percentage">
                      0%
                    </div>
                    <progress class="w-100" value="0" max="100"></progress>
                  <% end %>
                </div>
              </div>
              <div class="card-stats row justify-content-between">
                <div class="read-articles row mx-0 align-items-center">
                  <i class="material-icons-sharp stats-icon p-1">library_books</i>
                  1
                  Artikel
                </div>
                <div class="reading-time row mx-0 align-items-center">
                  <i class="material-icons-sharp stats-icon p-1">access_time</i>
                    <%= 1 * 2.5 %>
                    min/Lesen
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- upcoming tab -->
<div role="tabpanel" class="tab-pane py-3 mh-100" id="upcoming">
  <div class="row">
    <% @upcoming_articles.each do |upcoming_article| %>
      <div class="col-lg-3 my-2">
        <%= link_to upcoming_article do %>
          <div class="card topic-card justify-content-between">
            <div class="card-name pt-1 pb-4">
              <%= upcoming_article.title %>
            </div>
            <div class="card-bottom">
              <div class="card-progress">
                <div class="row mx-0 justify-content-between">
                  <div class="read-text">
                    Gelesen
                  </div>
                  <% if @read_articles.include?(upcoming_article) %>
                    <div class="progress-percentage">
                      100%
                    </div>
                    <progress class="w-100" value="100" max="100"></progress>
                  <% else %>
                    <div class="progress-percentage">
                      0%
                    </div>
                    <progress class="w-100" value="0" max="100"></progress>
                  <% end %>
                </div>
              </div>
              <div class="card-stats row justify-content-between">
                <div class="read-articles row mx-0 align-items-center">
                  <i class="material-icons-sharp stats-icon p-1">library_books</i>
                  1
                  Artikel
                </div>
                <div class="reading-time row mx-0 align-items-center">
                  <i class="material-icons-sharp stats-icon p-1">access_time</i>
                    <%= 1 * 2.5 %>
                    min/Lesen
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- bookmarked tab -->
<div role="tabpanel" class="tab-pane py-3 mh-100" id="bookmarked">
  <div class="row">
    <% @bookmarked_articles.each do |bookmarked_article| %>
      <div class="col-lg-3 my-2">
        <%= link_to bookmarked_article do %>
          <div class="card topic-card justify-content-between">
            <div class="card-name pt-1 pb-4">
              <%= bookmarked_article.title %>
            </div>
            <div class="card-bottom">
              <div class="card-progress">
                <div class="row mx-0 justify-content-between">
                  <div class="read-text">
                    Gelesen
                  </div>
                  <% if @read_articles.include?(bookmarked_article) %>
                    <div class="progress-percentage">
                      100%
                    </div>
                    <progress class="w-100" value="100" max="100"></progress>
                  <% else %>
                    <div class="progress-percentage">
                      0%
                    </div>
                    <progress class="w-100" value="0" max="100"></progress>
                  <% end %>
                </div>
              </div>
              <div class="card-stats row justify-content-between">
                <div class="read-articles row mx-0 align-items-center">
                  <i class="material-icons-sharp stats-icon p-1">library_books</i>
                  1
                  Artikel
                </div>
                <div class="reading-time row mx-0 align-items-center">
                  <i class="material-icons-sharp stats-icon p-1">access_time</i>
                    <%= 1 * 2.5 %>
                    min/Lesen
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- read tab -->
<div role="tabpanel" class="tab-pane py-3 mh-100" id="read">
  <div class="row">
    <% @read_articles.each do |read_article| %>
      <div class="col-lg-3 my-2">
        <%= link_to read_article do %>
          <div class="card topic-card justify-content-between">
            <div class="card-name pt-1 pb-4">
              <%= read_article.title %>
            </div>
            <div class="card-bottom">
              <div class="card-progress">
                <div class="row mx-0 justify-content-between">
                  <div class="read-text">
                    Gelesen
                  </div>
                  <% if @read_articles.include?(read_article) %>
                    <div class="progress-percentage">
                      100%
                    </div>
                    <progress class="w-100" value="100" max="100"></progress>
                  <% else %>
                    <div class="progress-percentage">
                      0%
                    </div>
                    <progress class="w-100" value="0" max="100"></progress>
                  <% end %>
                </div>
              </div>
              <div class="card-stats row justify-content-between">
                <div class="read-articles row mx-0 align-items-center">
                  <i class="material-icons-sharp stats-icon p-1">library_books</i>
                  1
                  Artikel
                </div>
                <div class="reading-time row mx-0 align-items-center">
                  <i class="material-icons-sharp stats-icon p-1">access_time</i>
                    <%= 1 * 2.5 %>
                    min/Lesen
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>