<!DOCTYPE html>
<html>
  <head>
    <title>Mozubi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- landing page check -->
        <% if user_signed_in? || company_signed_in? %>
          <!-- left column -->
          <div class="col-2 sticky-sidebar">
            <!-- left navbar logo -->
            <div class="row text-center border-bottom navbar">
              <%= image_tag "https://res.cloudinary.com/mozubi/image/upload/v1582744555/Mozubi/Logo_schwarz_e4slbq.png", style: 'width:100%' %>
            </div>
            <!-- sidebar -->
            <div class="row p-4 border-right sidebar">
              <%= render 'shared/sidebar' %>
            </div>
          </div>
          <!-- right column -->
          <div class="col-10 main-content">
        <% else %>
          <div class="col-12 main-content">
        <% end %>
            <!-- right navbar -->
            <div class="row navbar border-bottom sticky sticky-top px-0">
              <div class="col-12">
                <%= render 'shared/navbar' %>
              </div>
            </div>
            <!-- content -->
            <% if user_signed_in? || company_signed_in? %>
            <div class="row">
              <% if user_signed_in? && current_user.student? && current_user.exam_date.blank? %>
                <%= link_to profile_path, style: "width: 100%" do %>
                  <%= render 'shared/reminder', message: User::UPDATE_PROFILE_MESSAGE %>
                <% end %>
              <% end %>
              <%= render 'shared/flashes' %>
              <%= yield %>
              <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
              <!-- debug: display params in develpment -->
              <%#= debug(params) if Rails.env.development? %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
